.chat-profile-image {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}
.chat-item:hover .hover-white {
  color: white;
}
.chat-item:hover .hover-gray {
  color: #d3d3d3;
}
.chat-user-satting-page {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}
.chat-icons {
  box-sizing: content-box;
  font-size: 25px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #007bf5;
}
.chat-icons:hover {
  background-color: #dedede;
}
.chat-icons-active {
  box-sizing: content-box;
  font-size: 25px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  transition: all ease 0.3s;
  color: #007bf5;
  background-color: #dedede;
}
.chat-edit-icon {
  box-sizing: content-box;
  background-color: #dedede;
  font-size: 24px;
  padding: 9px;
  cursor: pointer;
  border-radius: 100px;
  transition: all ease 0.3s;
}
.chat-input {
  background-color: #f4f4f4;
  padding: 12px 20px 12px 5px;
}
.chat-search-icon {
  box-sizing: content-box;
  font-size: 24px;
  padding: 0 0 0 15px;
  color: #514f4f;
}
.chat-file-icons {
  box-sizing: content-box;
  color: #007bf5;
  font-size: 25px;
  padding: 10px;
  border-radius: 20%;
  margin-right: 5px;
  cursor: pointer;
}
.chat-file-icons:hover {
  background-color: #dedede;
}
.messege-input {
  background-color: #f3f3f5;
  padding: 12px 0 12px 20px;
}
.emoji-icon {
  box-sizing: content-box;
  padding: 12px;
  font-size: 20px;
  color: #007bf5;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.emoji-icon:hover {
  background-color: #dedede;
}
.ThumbUpIcon {
  box-sizing: content-box;
  padding: 12px;
  font-size: 20px;
  color: #007bf5;
  cursor: pointer;
  border-radius: 20%;
  transition: all ease 0.3s;
  margin: 0 0 2px 5px;
}
.ThumbUpIcon:hover {
  background-color: #dedede;
}
.chat-setting-profile {
  width: 150px;
  border-radius: 100%;
}
