.google-icon {
  font-size: 20px;
  margin-right: 10px;
}
.facebook-icon {
  font-size: 20px;
  margin-right: 10px;
  color: blue;
}
.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.hightLight-txt {
  color: #32375c;
  margin-left: 5px;
}
.masseg-icon {
  transform: scaleX(-1);
}
.forget-password{
  text-decoration: none;
  color: #32375c;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin: 15px 0 0 0;
  font-size: 12px;
  display: inline-block;
}
.forget-password:hover{
  text-decoration: underline;
}
